<footer class="footer">

  <div class="footer__container">

    <section>
      <h2 class="footer__title">Sobre</h2>

      <p class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quos ipsum magnam id a quia excepturi officia dignissimos
         sapiente voluptatem illum architecto autem, voluptates
         inventore veritatis expedita. Eius ab fugiat voluptatum?</p>

    </section>


    <address>

      <h2 class="footer__title">Contato</h2>

      <ul>

        <li><i class="fa-regular fa-envelope-open"></i> contato@pcfixing.com.br</li>

        <li><i class="fa-solid fa-phone"></i> +55 (11) 4316-9391</li>

        <li><i class="fa-brands fa-whatsapp"></i> +55 (11) 9 9004-8267</li>



      </ul>



    </address>


  </div>

  <section class="footer__copyright">

    &copy; 2023 - Todos os direitos reservados.


  </section>

</footer>
